<section class="hotel-service">
    <!-- Box Search -->
    <div class="card border border-slate-400 rounded-md">
        <div class="card-header p-3">
            <h1 class="text-2xl font-bold">Hotel Service Management</h1>
        </div>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="card-body p-3 border-y border-slate-400">
                <div class="form-group">
                    <label for="keyword" class="block mb-2">Service Name</label>
                    <input type="text" id="keyword" formControlName="keyword"
                        class="w-full p-2 border border-slate-400 rounded-md" />
                </div>
            </div>

            <div class="card-footer flex justify-between p-3">
                <button type="button" class="p-2 px-4 rounded-full bg-green-500 text-white"
                (click)="onCreate()">
                    <fa-icon [icon]="faPlus" /> Add
                </button>
                <button type="submit" class="p-2 px-4 rounded-full bg-blue-500 text-white">
                    <fa-icon [icon]="faSearch" /> Search
                </button>
            </div>
        </form>
    </div>

    <!-- List -->
    <div class="card border border-slate-400 rounded-md my-3">
        <div class="card-body p-3">
            <app-table [isShowNumber]="false" [data]="data" [columns]="configColumns" (edit)="onEdit($event)"
                (delete)="onDelete($event)"></app-table>
        </div>
    </div>

    <!-- Details -->
    <app-hotel-service-details *ngIf="isShowDetails" (cancel)="cancelDetail()" [selected-item]="selectedItem"></app-hotel-service-details>
</section>