<section class="hotel-service">
    <!-- Box Search -->
    <div class="card border border-slate-400 rounded-md">
        <div class="card-header p-3">
            <h1 class="text-2xl font-bold">Hotel Service Management</h1>
        </div>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="card-body p-3 border-y border-slate-400">
                <div class="form-group">
                    <label for="keyword" class="block mb-2">Service Name</label>
                    <input type="text" id="keyword" formControlName="keyword"
                        class="w-full p-2 border border-slate-400 rounded-md" />
                </div>
            </div>

            <div class="card-footer flex justify-between p-3">
                <button type="button" class="p-2 px-4 rounded-full bg-green-500 text-white">
                    <fa-icon [icon]="faPlus" /> Add
                </button>
                <button type="submit" class="p-2 px-4 rounded-full bg-blue-500 text-white">
                    <fa-icon [icon]="faSearch" /> Search
                </button>
            </div>
        </form>
    </div>

    <!-- List -->
    <div class="card border border-slate-400 rounded-md my-3">
        <div class="card-body p-3">
            <table class="w-full">
                <thead>
                    <tr class="*:border *:border-slate-300 *:p-2">
                        <th class="p-2">No</th>
                        <th class="p-2">Service Name</th>
                        <th class="p-2">Price</th>
                        <th class="p-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data; let i = index" class="*:border *:border-slate-300 *:p-2">
                        <td>{{i}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <div class="flex justify-center gap-2">
                                <button type="button" class=" text-blue-500" title="Edit">
                                    <fa-icon [icon]="faEdit" />
                                </button>
                                <button type="submit" class=" text-red-500" title="Delete">
                                    <fa-icon [icon]="faTrashCan" />
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Details -->
    <app-hotel-service-details *ngIf="isShowDetails"></app-hotel-service-details>
</section>