<section class="hotel-service">
    <!-- Box Search -->
    <div class="card border border-slate-400 rounded-md">
        <div class="card-header p-3">
            <h1 class="text-2xl font-bold">User Management</h1>
        </div>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="card-body p-3 border-y border-slate-400">
                <div class="form-group">
                    <label for="keyword" class="block mb-2">Username</label>
                    <input type="text" id="keyword" formControlName="keyword"
                        class="w-full p-2 border border-slate-400 rounded-md" />
                </div>
            </div>

            <div class="card-footer flex justify-between p-3">
                <button type="button" class="p-2 px-4 rounded-full bg-green-500 text-white" (click)="onCreate()">
                    <fa-icon [icon]="faPlus" /> Add
                </button>
                <button type="submit" class="p-2 px-4 rounded-full bg-blue-500 text-white">
                    <fa-icon [icon]="faSearch" /> Search
                </button>
            </div>
        </form>
    </div>

    <!-- List -->
    <app-table [isShowNumber]="true" [data]="data" [columns]="configColumns" [pageInfo]="pageInfo"
        [page-size-list]="pageSizeList" [page-limit]="pageLimit" (onChangePageNumber)="onChangePageNumber($event)" 
        (onChangePageSize)="onChangePageSize($event)" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-table>

    <!-- Details -->
    <app-user-details *ngIf="isShowDetails" (cancel)="cancelDetail()" [selected-item]="selectedItem"></app-user-details>
</section>