<section class="about">
    <div class="about-header text-center">
        <h1 class="text-2xl font-bold">We Are Marriott International</h1>
        <p>Travel with us as we expand our world, improve the communities we serve and open doors to new opportunities.
        </p>
    </div>
    <div class="intro">
        <img src="https://www.marriott.com/content/dam/marriott-hws/st-regis/apec/mlexr/en/hotel-views/mlexr-bar-6212-hor-wide.jpg.transform/mcom-hp-transform-2880x1620/image.jpg"
            alt="About Us">
    </div>
</section>